<div class="header">
  <ul class="nav nav-pills gray pull-right">
    <li class="active"><a ng-href="#/">Gráficos</a></li>
    <li><a ng-href="#/data">Listado</a></li>
    <input type="text" class="form-control" placeholder="Buscar..." id="search-box">
  </ul>
  <div class="s640">
    <h3 class="m0">Ejecución Financiera Proyecto Ñamopora Ñanderape</h3>
    <h6 class="subTit"><p>Explora en qué obras, servicios y bienes se invierten en el Proyecto de 105.41 millones de dólares (74: Banco Mundial, 31.41: República del Paraguay). Las obras, servicios o bienes son adquiridos a través de contratos.</p>
    </h6>
    <br>
</div>


<div id="agrupaciones" class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active" name="all">
    <input type="radio" name="options"> Todos los Contratos
  </label>
  <label class="btn btn-default" name="componente">
    <input type="radio" name="options"> Obras/Servicios/Bienes
  </label>
  <label class="btn btn-default" name="rubro_nombre">
    <input type="radio" name="options"> Rubro
  </label>
  <label class="btn btn-default" name="mod_nombre">
    <input type="radio" name="options"> Tipo de Licitación
  </label>
  <label class="btn btn-default" name="pro_nombre_vista">
    <input type="radio" name="options"> Proveedor
  </label>
</div>
<div id="componentes" class="btn-group" data-toggle="buttons" style="display: none;">
  <label class="btn btn-default" name="obra_vista" id="pavimentadas">
    <input type="radio" name="options"> Rutas Pavimentadas
  </label>
  <label class="btn btn-default" name="obra_vista" id="no-pavimentadas">
    <input type="radio" name="options"> Rutas No Pavimentadas
  </label>
  <label class="btn btn-default" name="obra_vista" id="fortalecimiento">
    <input type="radio" name="options"> Fortalecimiento Institucional
  </label>
</div>
<div id="chart right">
  <div class="referencias right" style="width:320px;">
    <div class="fila">
      <div class="celda">
        <h6>Referencias</h6>
        <p>Los tamaños de los circulos representan los montos en guaraníes de los contratos.</p>
        <svg width="270" height="120">
          <circle cx="55" cy="60" r="49.99260566535904" stroke="#adadad" stroke-dasharray="5, 2" opacity="1" fill="white"></circle>
          <line x1="86" y1="20" x2="150" y2="20" stroke="#adadad"></line>
          <text style="font-size:85%" text-anchor="start" x="160" y="23" fill="gray">100 Mil Millones</text>
          <circle cx="55" cy="74" r="35.350110475160385" stroke="#adadad" stroke-dasharray="5, 2" opacity="1" fill="white"></circle>
          <line x1="87" y1="60" x2="150" y2="60" stroke="#adadad"></line>
          <text style="font-size:85%" text-anchor="start" x="160" y="63" fill="gray">50 Mil Millones</text>
          <circle cx="55" cy="94" r="15.809050006917206" stroke="#adadad" stroke-dasharray="5, 2" opacity="1" fill="white"></circle>
          <line x1="70" y1="100" x2="150" y2="100" stroke="#adadad"></line>
          <text style="font-size:85%" text-anchor="start" x="160" y="103" fill="gray">10 Mil Millones</text>
        </svg>
      </div>
    </div>
    <div class="fila">
      <div class="celda">
        <hr>
        <ul class="simple">
          <li><img src="images/ico_dinero.svg" alt="" style="width: 18px; height: 18px;"> Contrato con Adenda de monto</li>
          <li><img src="images/ico_tiempo.svg" alt="" style="width: 18px; height: 18px;"> Contrato con Adenda de tiempo</li>
        </ul>
      </div>
    </div>
    <div class="fila">
      <div class="celda">
        <hr>
        <p style="font-weight: bold;">Colores</p>
        <ul class="simple">
          <li><img src="images/ico_color1.png" alt=""> Monto total del proyecto</li>
          <li><img src="images/ico_color2.png" alt=""> Monto pagado del proyecto</li>
          <li><img src="images/ico_color3.png" alt=""> Adenda de monto</li>
          <li><img src="images/ico_color4.png" alt=""> Pago de adenda de monto</li>
        </ul>
      </div>
    </div>
  </div>
	<bubble-chart data="$parent.data" until="$parent.until" ng-if="loaded"></bubble-chart>
</div>
<div id="slider">
	<date-slider until="$parent.until" last-updated="lastUpdated" ng-if="loaded"></date-slider>
</div>
<hr>
<div class="tips clear mt20 mb20">
  <div class="fila">
    <div class="celda">Seleccione algún criterio (obras/servicios/bienes, rubro, etc.) para agrupar los contratos.</div>
    <div class="celda">Inicio de ejecución: año 2007. Mueva la línea de tiempo para ver el avance de ejecución de los contratos en el tiempo.</div>
    <div class="celda">Haga click en un contrato para ver más detalles.</div>
    <div class="celda">Las obras desarrolladas como parte del Proyecto pueden verse en un mapa interactivo, haciendo click <a href="http://www.mopc.gov.py/mopcweb/BM/mapa.html">aquí</a>.</div>
  </div>
</div>
